@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");
header {
  background-image: url(../aassets/Image/imagen_header1.jpg);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: end;
}
header #logo {
  width: 80px;
}
header a {
  font-family: "Roboto", sans-serif;
}
header a:hover {
  opacity: 50%;
}
header #dropdown {
  padding-top: 180%;
}
header .material-symbols-sharp {
  color: white;
}

.body {
  background-color: whitesmoke;
}

main {
  background-color: whitesmoke;
}
main .display-6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
main .card-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
main .card-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main #titcarrusel {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
main #textcarrusel {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main .btn {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #titgaleria {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
main #txtgaleria {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
main #stgaleria {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #stgaleria1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #stgaleria2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #stgaleria3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #stgaleria4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main #stgaleria5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-size: 10px;
}
main .imgfotos {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
main .imgfotos:hover {
  border: 5px solid whitesmoke;
}
main #h1pagebarrio {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15px;
}
main #h1pagecuatro {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15px;
}
main #h1pagesiete {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15px;
}
main #h1pageexcur {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 15px;
}
main #imgcuatro {
  width: 90%;
  border-radius: 20px;
}
main .tith2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
}
main .tith5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
main .parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-left: 10%;
  padding-right: 10%;
}
main #lista {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-size: 12px;
  color: gray;
}

.btn {
  color: white !important;
  border: none !important;
}

.copy {
  font-size: 12px;
}

@media (min-width: 320px) {
  #logo {
    width: 90px !important;
    margin-top: -30px !important;
  }
  .navbar-toggler {
    margin-top: -35px !important;
  }
  #dropdown {
    padding-top: 70% !important;
  }
}
@media (min-width: 375px) {
  #dropdown {
    padding-top: 160% !important;
  }
}
@media (min-width: 425px) {
  #dropdown {
    padding-top: 140% !important;
  }
}
@media (min-width: 768px) {
  #logo {
    width: 150px !important;
    margin-top: -50px !important;
  }
  .navbar-toggler {
    margin-top: -55px !important;
  }
  #dropdown {
    padding-top: 70% !important;
  }
}
@media (min-width: 992px) {
  #logo {
    width: 150px !important;
    margin-top: -50px !important;
  }
  .navbar-nav {
    margin-top: -60px !important;
    margin-right: 10px !important;
  }
  #dropdown {
    padding-top: 55% !important;
  }
  #titcarrusel {
    font-size: 35px !important;
    padding-top: 60px;
  }
  #textcarrusel {
    font-size: 15px !important;
  }
}
@media (min-width: 1200px) {
  #dropdown {
    padding-top: 35% !important;
  }
  #titcarrusel {
    font-size: 55px !important;
    padding-top: 120px;
  }
  #textcarrusel {
    font-size: 20px !important;
  }
  .btn {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  #logo {
    width: 200px !important;
    margin-top: -70px !important;
  }
  .navbar-nav {
    margin-top: -80px !important;
    margin-right: 10px !important;
  }
  .display-6 {
    font-size: 35px !important;
  }
  #h1pagebarrio {
    font-size: 35px !important;
  }
  #h1pagecuatro {
    font-size: 35px !important;
  }
  #h1pagesiete {
    font-size: 35px !important;
  }
  #h1pageexcur {
    font-size: 35px !important;
  }
  .tith2 {
    font-size: 25px !important;
  }
}
@media (min-width: 2400px) {
  #logo {
    width: 250px !important;
    margin-top: -80px !important;
  }
  .navbar-nav {
    margin-top: -80px !important;
    margin-right: 20px !important;
  }
  #titcarrusel {
    font-size: 80px !important;
    padding-top: 300px;
  }
  #textcarrusel {
    font-size: 30px !important;
  }
}/*# sourceMappingURL=style.css.map */