header {
    background-image: url(../aassets/Image/imagen_header1webp.webp);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: end;
    #botondesplegable {
        margin-top: -20px;
    }
    a {
        font-family: $fuentetexto;
        font-weight: bold;
        &:hover {
            opacity: 50%;
            font-weight: bold;
        }
    }
    
    .material-symbols-sharp {
        color: white;
    }
    }
    