header {
    background-image: url(../aassets/Image/imagen_header1.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: end;
    #logo {
        width: 80px;
    }
    a {
        font-family: $fuentetexto;
    }
    }
    