main {
    background-color: whitesmoke ;
    #imgfotos {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        &:hover {
            border: 5px solid whitesmoke;       
        }
    }
    .card-title {
        font-family: $fuentetexto;
        font-weight: bold;
    }
    .card-text {
        font-family: $fuentetexto;
    }
}