.body {
    background-color: whitesmoke;
}
main {
    background-color: whitesmoke;
    .display-6 {
        @include titulos;
    }
    .card-title {
        @include titulos;
    }
    .card-text {
        @include txt;
    }
    #titcarrusel {
        @include titulos;
    }
    #textcarrusel {
        @include txt;
    }
    .btn {
        @include txt;
        font-size: 10px; 
    }
    #titgaleria {
        @include titulos;
    }
    #txtgaleria {
        @include txt;
    }
    #stgaleria {
        @include txt;
        font-size: 10px;
    }
    #stgaleria1 {
        @include txt;
        font-size: 10px;
    }
    #stgaleria2 {
        @include txt;
        font-size: 10px;
    }
    #stgaleria3 {
        @include txt;
        font-size: 10px;
    }
    #stgaleria4 {
        @include txt;
        font-size: 10px;
    }
    #stgaleria5 {
        @include txt;
        font-size: 10px;
    }
    .imgfotos {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        &:hover {
            border: 5px solid whitesmoke;       
        }   
    }
    #h1pagebarrio {
        @include h1page;
    }
    #h1pagecuatro {
        @include h1page;
    }
    #h1pagesiete {
        @include h1page;
    }
    #h1pageexcur {
        @include h1page;
    }
    #imgcuatro {
        width: 90%;
        border-radius: 20px;
    }
    .tith2 {
        @include titulos;
        margin-top: 15px
    }
    .tith5 {
       @include h5page; 
    }
    .parrafo {
        @include txt;
        padding-left: 10%;
        padding-right: 10%;
    }
    #lista {
        @include lista;
        font-size: 12px;
        color: gray;
    }
}

    

