main {
    background-color: whitesmoke;
    .display-6 {
        @include titulos;
    }
    .card-title {
        @include titulos;
    }
    .card-text {
        @include txt;
    }
    #titcarrusel {
        @include titulos;
    }
    #imgfotos {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        &:hover {
            border: 5px solid whitesmoke;       
        }
    }
    
}