
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
    #titcarrusel {
        font-size: 35px !important;
        padding-top: 60px;
    }
    #textcarrusel {
        font-size: 15px !important;
    }
}


@media (min-width: 1200px) {
    #titcarrusel {
        font-size: 55px !important;
        padding-top: 120px;

    }
    #textcarrusel {
        font-size: 20px !important;
    }
    .btn {
        font-size: 20px; 
    }
}


@media (min-width: 1400px) {
 
}